@page "/fetchdata"
@using BlazorApp.Shared 
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>
<h1>Weather forecast for downtown Warsaw</h1>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="grid">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Temp. (C)</th>
                    <th>Cloud Cover (%)</th>
                    <th>Wind Speed (m/s)</th>
                    <th>Precipitation Intensity (mm/hr)</th>
                    <th>Precipitation Probability (%)</th>
                    <th>Weather Summary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in forecasts)
                {
                    <tr>
                        <td>@item.startTime</td>
                        <td>@item.values.temperatureMin</td>
                        <td>@item.values.cloudCover</td>
                        <td>@item.values.windSpeed</td>
                        <td>@item.values.precipitationIntensity</td>
                        <td>@item.values.precipitationProbability</td>
                        <td>@item.values.weatherCode</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
}

@code {
    private Interval[] forecasts = new Interval[]{};

    protected override async Task OnInitializedAsync()
    {
        try
        {
            forecasts = await Http.GetFromJsonAsync<Interval[]>("/api/WarsawWeather") ?? new Interval[]{};
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}